<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog, Version=1.0.0.505, Culture=neutral, PublicKeyToken=5120e14c03d0593c" />
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
		<extensions>
			<add assembly="NLog.Extended" />
		</extensions>
		<variable name="fileName" value="FSALog" />
		<variable name="sqlName" value="FSADetailLog" />
		<variable name="logFolder" value="C:/FSA/"/>
		<variable name="logFileName" value="${logFolder}/${fileName}.log" />
		<variable name="logSqlName" value="${logFolder}/${sqlName}.log" />
		<variable name="logArchiveFileName" value="${logFolder}/${fileName}_{###}.log" />
		<variable name="logArchiveSqlName" value="${logFolder}/${sqlName}_{###}.log" />
		<variable name="layoutFile" value="${date:format=HH\:mm\:ss\.ffff}|${mdc:item=WebServerName}|${mdc:item=ClientIP}|${mdc:item=WebSessionID}|${mdc:item=OperatorAccountID}(${mdc:item=UserAccountID})|${level:uppercase=true}|IsFlow=${mdc:item=IsFlow}|${message}|${exception:Format=ToString}" />
		<variable name="layoutSql" value="${date:format=HH\:mm\:ss\.ffff}|${mdc:item=WebServerName}|${mdc:item=ClientIP}|${mdc:item=WebSessionID}|${mdc:item=OperatorAccountID}(${mdc:item=UserAccountID})|${level:uppercase=true}|IsFlow=${mdc:item=IsFlow}|${message}|${exception:Format=ToString}" />
		<targets>
			<target name="LogFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" >
				<target xsi:type="File" fileName="${logFileName}"
				layout="${layoutFile}"
				concurrentWrites="false"
				keepFileOpen="false"
				autoFlush="true"
				createDirs="true"
				archiveAboveSize="5000000"
				maxArchiveFiles="99"
				archiveFileName="${logArchiveFileName}"
				archiveNumbering="Rolling" />
			</target>
			<target name="SQL" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" >
				<target xsi:type="File" fileName="${logSqlName}"
				layout="${layoutSql}"
				concurrentWrites="false"
				keepFileOpen="false"
				autoFlush="true"
				createDirs="true"
				archiveAboveSize="5000000"
				maxArchiveFiles="99"
				archiveFileName="${logArchiveSqlName}"
				archiveNumbering="Rolling" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="LogFile" />
			<logger name="SqlTracer" minlevel="Debug" writeTo="SQL" />
		</rules>
	</nlog>
</configuration>