<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!--彙整信件收件者-->
		<add key="ManagerMailAddress" value="minghunghsu@evaair.com" />
		<!--Excel檔案路徑-->
		<add key="FilePath" value="C:\EVA\NCW\FortifySCAAutomation\FortifySCAAutomation\FortifySCAAutomation\Fortify SCA List.xlsx" />
		<!--建置目錄相關屬性-->
		<add key="WebSLNPath" value="C:\EVA\NCW\QA6\EVA.NCW.Web.sln" />
		<add key="ServiceSLNPath" value="C:\EVA\NCW\QA6\EVA.NCW.Service.sln" />
		<add key="TFSSourcePath" value="C:\EVA\NCW\QA6" />
		<add key="RootPath" value="C:\EVA" />
		<add key="BuildMode" value="All" />
		<add key="VSConsolePath" value="C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\Tools\VsDevCmd.bat" />
		<!--取新版的TFS網址-->
		<add key="TFSServerUri" value="http://cargotfs02:8080/tfs/NCW" />
		<add key="IsGetLastestVersion" value="Y"/>
		<add key="WorkSpaceName" value="C143264"/>
		<add key="CheckOutUser" value="E73058"/>
		<!--Fortify掃描相關-->
		<add key="FortifyTemplatePath" value="C:\EVA\NCW\FortifySCAAutomation\FortifySCAAutomation\FortifySCAAutomation\Developer_Workbook_EVAAIR.xml" />
		<add key="FortifyReportPath" value="C:\Fortify Reports" />
		<add key="FortifyFPRPath" value="C:\EVA\NCW\QA6" />
		<!--寄給PIC的信是否附加PDF檔-->
		<add key="IsPDFAttachMail" value="Y" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>